resources:
    App\Entity\Category:
        collectionOperations:
            get:
                method: GET
        itemOperations:
            get:
                method: GET


    App\Entity\Post:
        attributes:
            normalization_context:
                groups: ['read:posts']
                openapi_definition_name: 'Collection'
            denormalization_context:
                groups: ['write:post']
            pagination_items_per_page: 2
            pagination_maximum_items_per_page: 10
            pagination_client_items_per_page: true

        collectionOperations:
            get:
                method: GET
                filters: ['post.order_filter']
                normalization_context:
                    groups: ['read:posts', 'read:post']
                    openapi_definition_name: 'Detail'
            post:
                method: POST
                validation_groups: [App\Entity\Post, 'validationGroups']
            count:
                method: 'GET'
                path: '/posts/count'
                controller: App\Controller\PostCountController
                pagination_enabled: false
                openapi_context:
                    summary: Calcul le nombre d'article
                    description: Calcul le nombre d'article

        itemOperations:
            put:
                method: PUT
            delete:
                method: DELETE
            get:
                method: GET
            publish:
                method: 'POST'
                path: '/posts/{id}/publish'
                controller: App\Controller\PostPublishController
                openapi_context:
                    summary: Permet de mettre en ligne un article
                    requestBody:
                        content:
                            application/json:
                                schema:
                                    type: object